<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051294002791-64ukghp692etd11ft81md527h9u0m8ja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051294002791-64ukghp692etd11ft81md527h9u0m8ja</string>
	<key>API_KEY</key>
	<string>AIzaSyCq19xCOElT8UQWGzY5Mlrck6JRQBt7vxs</string>
	<key>GCM_SENDER_ID</key>
	<string>1051294002791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ogrodowskitomasz.InstagramSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftuiclone-b0cbc</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftuiclone-b0cbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051294002791:ios:e83016d8e3be4185d32ec2</string>
</dict>
</plist>